In [1]:
#code snippet 1
#Installing h2o
!pip install h2o

Collecting h2o
  Downloading h2o-3.46.0.7-py2.py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from h2o) (2.32.4)
Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (from h2o) (0.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->h2o) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->h2o) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->h2o) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->h2o) (2025.8.3)
Downloading h2o-3.46.0.7-py2.py3-none-any.whl (265.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 265.9/265.9 MB 4.5 MB/s eta 0:00:00
Installing collected packages: h2o
Successfully installed h2o-3.46.0.7

In [2]:
#code snippet 2
#Importing h2o
import h2o

#initialize h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.28" 2025-07-15; OpenJDK Runtime Environment (build 11.0.28+6-post-Ubuntu-1ubuntu122.04.1); OpenJDK 64-Bit Server VM (build 11.0.28+6-post-Ubuntu-1ubuntu122.04.1, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.12/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpjpty25yu
  JVM stdout: /tmp/tmpjpty25yu/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpjpty25yu/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.
Warning: Your H2O cluster version is (5 months and 25 days) old.  There may be a newer version available.
Please download and install the latest version from: https://h2o-release.s3.amazonaws.com/h2o/latest_stable.html

--------------------------  -----------------------------------------------------------------------------------------
H2O_cluster_uptime:         07 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.7
H2O_cluster_version_age:    5 months and 25 days
H2O_cluster_name:           H2O_from_python_unknownUser_xvkbbr
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.170 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null, "colab_language_server": "/usr/colab/bin/language_service"}
H2O_internal_security:      False
Python_version:             3.12.11 final
--------------------------  -----------------------------------------------------------------------------------------

In [3]:
# Code snippet 3
# Importing dataset
data = h2o.import_file('https://raw.githubusercontent.com/Imjuandiaz/Red-Cross-Donor-Indicator-Data-Project/refs/heads/main/Data/Red%20Cross%20DonorIndicator%20Clean%20Version%20-%20Sheet1.csv')


data

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

  DonorPostalCode    DonorAge  GenderIdentity      IsAlumnusFlag    IsParentFlag    HasInvolvementFlag  WealthRating    PreferredAddressType      HasEmailFlag    ConsecutiveDonorYears    LastFiscalYearDonation    Donation2FiscalYearsAgo    Donation3FiscalYearsAgo    Donation4FiscalYearsAgo    Donation5FiscalYearsAgo    CurrentFiscalYearDonation    CumulativeDonationAmount    DonorIndicatorFlag.
-----------------  ----------  ----------------  ---------------  --------------  --------------------  --------------  ----------------------  --------------  -----------------------  ------------------------  -------------------------  -------------------------  -------------------------  -------------------------  ---------------------------  --------------------------  ---------------------
            23187          42  Female                          0               0                     0  Unknown         HOME                                 0                        1                         0                          0                          0                          0                          0                            0                          10                      1
            77643          33  Female                          1               0                     1  Unknown         Unknown                              1                        0                         0                          0                          0                          0                          0                            0                        2100                      1
              nan          42  Female                          0               0                     0  Unknown         HOME                                 0                        1                         0                          0                          0                          0                          0                          200                         200                      1
            47141          31  Female                          1               0                     1  Unknown         HOME                                 1                        0                         0                          0                          0                          0                          0                            0                           0                      0
            92555          68  Female                          0               0                     0  Unknown         HOME                                 1                        0                         0                          0                          0                          0                          0                            0                         505                      1
            95191          57  Male                            0               0                     0  Unknown         HOME                                 0                        0                         0                          0                          0                          0                          0                            0                           0                      0
            90265          42  Male                            0               0                     0  Unknown         HOME                                 1                        3                         0                          0                          0                          0                          0                            0                           0                      0
            67701          42  Female                          0               0                     0  Unknown         HOME                                 0                        1                         0                          0                          0                          0                          0                            0                         170                      1
            95972          42  Uknown                          0               0                     1  Unknown         HOME                                 0                        0                         5                          0                          0                          0                          0                            0                           5                      1
            49884          42  Female                          0               1                     0  Unknown         HOME                                 0                        0                         0                          0                          0                          0                          0                            0                          15                      1
[34508 rows x 18 columns]

In [4]:
#code snippet 4
#Importing Kmeans Estimator
from h2o.estimators.kmeans import H2OKMeansEstimator

In [5]:
#code snippet 5
#setting the number of clusters in the data train as 4
kmeans_model = H2OKMeansEstimator(k=3)

#Train the clustering model
kmeans_model.train(training_frame=data)

kmeans Model Build progress: |███████████████████████████████████████████████████| (done) 100%

Model Details
=============
H2OKMeansEstimator : K-means
Model Key: KMeans_model_python_1758475149058_1


Model Summary:
    number_of_rows    number_of_clusters    number_of_categorical_columns    number_of_iterations    within_cluster_sum_of_squares    total_sum_of_squares    between_cluster_sum_of_squares
--  ----------------  --------------------  -------------------------------  ----------------------  -------------------------------  ----------------------  --------------------------------
    34508             3                     3                                2                       419933                           543790                  123857

ModelMetricsClustering: kmeans
** Reported on train data. **

Total Within Cluster Sum of Square Error: 419933.3393937566
Total Sum of Square Error to Grand Mean: 543790.0013762688
Between Cluster Sum of Square Error: 123856.66198251222

Centroid Statistics:
    centroid    size    within_cluster_sum_of_squares
--  ----------  ------  -------------------------------
    1           34505   415740
    2           2       4193.77
    3           1       3.20744e-11

Scoring History:
    timestamp            duration    iterations    number_of_reassigned_observations    within_cluster_sum_of_squares
--  -------------------  ----------  ------------  -----------------------------------  -------------------------------
    2025-09-21 17:19:38  0.354 sec   0             nan                                  nan
    2025-09-21 17:19:40  2.393 sec   1             34508                                489933
    2025-09-21 17:19:40  2.632 sec   2             0                                    419933

[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [6]:
#code snippet 6
#Displaying the cluster size
kmeans_model.size()

[34505.0, 2.0, 1.0]

In [8]:
# Code Snippet 7
# Import libraries
import pandas as pd

# Predict clusters for each row
pred = kmeans_model.predict(data)

# Join prediction to the original dataset
data_with_clusters = data.cbind(pred)

# Convert to pandas DataFrame
df = data_with_clusters.as_data_frame()

# ==========================
# Numeric variables
# ==========================
numeric_cols = [
    "DonorAge", "IsAlumnusFlag", "IsParentFlag",
    "HasInvolvementFlag", "HasEmailFlag",
    "ConsecutiveDonorYears", "LastFiscalYearDonation",
    "Donation2FiscalYearsAgo", "Donation3FiscalYearsAgo",
    "Donation4FiscalYearsAgo", "Donation5FiscalYearsAgo",
    "CurrentFiscalYearDonation", "CumulativeDonationAmount",
    "DonorIndicatorFlag."
]

numeric_summary = df.groupby("predict")[numeric_cols].mean()

# ==========================
# Categorical variables
# ==========================
categorical_cols = [
    "DonorPostalCode", "GenderIdentity",
    "WealthRating", "PreferredAddressType"
]

categorical_summary = {}
for col in categorical_cols:
    categorical_summary[col] = (
        df.groupby("predict")[col]
        .value_counts(normalize=True)
        .unstack(fill_value=0)
    )

kmeans prediction progress: |████████████████████████████████████████████████████| (done) 100%

/usr/local/lib/python3.12/dist-packages/h2o/frame.py:1983: H2ODependencyWarning: Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using multi-thread, install polars and pyarrow and use it as pandas_df = h2o_df.as_data_frame(use_multi_thread=True)

  warnings.warn("Converting H2O frame to pandas dataframe using single-thread.  For faster conversion using"

In [9]:
# ==========================
# Combinar resúmenes
# ==========================

# Unir todos los DataFrames de categorías en uno solo
categorical_df = pd.concat(categorical_summary.values(), axis=1)

# Combinar con las variables numéricas
cluster_profiles = numeric_summary.join(categorical_df, how="left")

# Exportar a CSV
cluster_profiles.to_csv("cluster_profiles.csv", index=True)

# Mostrar en consola
print(cluster_profiles)

          DonorAge  IsAlumnusFlag  IsParentFlag  HasInvolvementFlag  \
predict
0        43.364121       0.243994      0.078279            0.231068
1        93.500000       1.000000      0.000000            0.500000
2        42.000000       1.000000      0.000000            1.000000

         HasEmailFlag  ConsecutiveDonorYears  LastFiscalYearDonation  \
predict
0            0.327112               1.136792            5.885530e+01
1            0.000000              11.000000            5.000000e+05
2            0.000000               5.000000            1.000000e+07

         Donation2FiscalYearsAgo  Donation3FiscalYearsAgo  \
predict
0                      96.116679                37.686451
1                    1500.000000            349921.000000
2                     200.000000            199842.000000

         Donation4FiscalYearsAgo  ...  $25,000-$49,999  $250,000-$499,999  \
predict                           ...
0                      57.117983  ...         0.016345            0.00768
1                     100.000000  ...         0.000000            0.00000
2                       0.000000  ...         0.000000            0.00000

         $50,000-$99,999  $500,000-$999,999   Unknown      BUSN      CAMP  \
predict
0               0.018693           0.002347  0.921519  0.028257  0.018751
1               0.000000           0.000000  1.000000  0.000000  0.000000
2               0.000000           0.000000  0.000000  1.000000  0.000000

             HOME       OTR   Unknown
predict
0        0.833763  0.002058  0.117171
1        1.000000  0.000000  0.000000
2        0.000000  0.000000  0.000000

[3 rows x 21024 columns]